.featured_spots {
  margin-top: 100px;
}

.featured_spots_wrapper {
  display: flex;
  gap: 120px;
}

.featured_spots_text {
  max-width: 180px;
  color: #fff;
  text-align: right;
}

.featured_spots_text h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
}

.featured_spots_text p {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.8;
  margin-top: 30px;
}

.view_all_line {
  background: #fff;
  width: 90px;
}

.view_all {
  font-weight: 600;
}

.view_all,
.view_all_line {
  margin-top: 125px;
}

.featured_spots_items {
  display: flex;
  gap: 50px;
  margin-top: 80px;
}

.featured_spots_item {
  max-width: 270px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.featured_spots_img {
  max-width: 270px;
}

.item_title h2 {
  font-size: 26px;
  font-weight: 800;
}

.item_title h3 {
  font-size: 20px;
  font-weight: 800;
  color: rgba(102, 102, 104, 1);
  line-height: 1.5;
}

.featured_spots_item a {
  color: rgba(241, 222, 132, 1);
  font-weight: 600;
}

.featured_slider {
  margin: 60px 0 0 288px;
}

.featured_line {
  width: 670px;
}

.read-more-link {
  color: #f1de84;
}

.read-more-link:hover {
  color: rgb(255, 213, 0);
}
