.the_walchen_lake_wrapper {
  display: flex;
}

aside {
  width: 270px;
  height: 90vh;
  box-sizing: border-box;
  background: rgba(40, 39, 42, 0.642);
}

.main_nav {
  font-size: 20px;
}

.main_nav ul {
  padding: 80px 0 0 60px;
}

.main_nav ul li:not(:first-child) a {
  color: rgba(113, 115, 116, 1);
  transition: 0.3s;
}

.main_nav ul li:not(:first-child) a:hover {
  color: #fff;
  transition: 0.3s;
}

.main_nav ul li:not(:first-child) {
  margin-top: 50px;
}

.main_nav ul li:after {
  content: "";
  width: 100px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 170px;
  display: none;
}

.main_nav ul li:first-child:after {
  display: block;
  top: 180px;
}

.main_nav ul li:nth-child(2):after {
  top: 250px;
  left: 240px;
  width: 30px;
}

.main_nav ul li:nth-child(3):after {
  top: 320px;
}

.main_nav ul li:nth-child(4):after {
  top: 390px;
}

.main_nav ul li:last-child:after {
  top: 460px;
}

.main_nav ul li:hover:after {
  display: block;
}

.the_walchen_lake_text {
  margin: 200px 0 0 120px;
  max-width: 330px;
  color: #fff;
}

.the_walchen_lake_text h1 {
  display: inline-block;
  font-size: 50px;
  font-weight: 800;
}

.the_walchen_lake_text p {
  display: inline-block;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.button {
  background: rgba(254, 226, 81, 1);
  padding: 15px 40px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 800;
  line-height: 12;
  color: #000 !important;
  transition: 0.5s;
}

.button:hover {
  background: rgb(255, 213, 0);
}

.slider {
  margin-left: 390px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.slider_button {
  display: inline-block;
  padding: 20px 20px 30px 20px;
  border-radius: 50%;
  font-size: 40px;
  line-height: 0;
}

.slide_name,
.slide_num {
  color: #fff;
  font-weight: 600;
}

.line {
  display: inline-block;
  background: rgba(88, 88, 91, 1);
  height: 1px;
}

.line_long {
  width: 580px;
}

.line_short {
  width: 30px;
}
