$primaryColor: #ffffff;
$titleColor: #000000;
$secondColor: #eeeeee;

.main-info {
  background-color: #fafbff;
  padding: 20px 5px 58px 8px;
}

.main-info__greeting-title {
  margin-bottom: 31px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: $titleColor;
}

.main-content__header-container {
  display: flex;
  flex-direction: column;
  column-gap: 506px;
}

.input-container {
  position: relative;
}

.form-input {
  width: 216px;
  height: 38px;
  background-color: #f9fbff;
  border-radius: 10px;
  border: none;
  padding: 7px 8px 7px 40px;
  margin-bottom: 25px;
}

.input-image {
  position: absolute;
  display: block;
  top: 11%;
  right: 88%;
}

input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #b5b7c0;
  position: absolute;
  top: 10px;
}

.main-content {
  background-color: $primaryColor;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
  padding: 8px 10px 20px 8px;
}

.main-content___title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: $titleColor;
  margin-bottom: 7px;
}

.main-content__members {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #16c098;
  margin-bottom: 40px;
}

table {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: #f1f3f8;
}

thead {
  margin-bottom: 34px;
}

thead th::after {
  content: "";
  border: 1px solid $secondColor;
  position: absolute;
  width: 968px;
  height: 0px;
  left: 377px;
  top: 294px;
}

thead th {
  text-align: start;
  width: 170px;
  justify-content: flex-start;
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  color: #b5b7c0;
  writing-mode: vertical-lr;
}

thead tr {
  justify-content: flex-start;
  display: flex;
  margin-bottom: 14px;
}

.active-box {
  text-align: center;
  color: #008767;
}

.company {
  width: 51px;
  writing-mode: vertical-lr;
}

.country {
  width: 140px;
  writing-mode: vertical-lr;
}

.phone {
  width: 156px;
  writing-mode: vertical-lr;
}

.email {
  width: 207px;
  writing-mode: vertical-lr;
}

.country-name {
  width: 51px;
  writing-mode: vertical-lr;
}

.phone-number {
  width: 51px;
  writing-mode: vertical-lr;
}

.company-name {
  width: 52px;
  writing-mode: vertical-lr;
}

.email-company {
  width: 51px;
  writing-mode: vertical-lr;
}

tbody {
  display: flex;
  flex-direction: column;
  width: 968px;
}

tbody tr {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}

tbody tr::after {
  content: "";
  position: absolute;
  width: 888px;
  height: 0px;
  left: 417px;
  margin-top: 75px;
  border: 1px solid $secondColor;
}

tbody td {
  text-align: start;
  width: 51px;
  font-weight: 300;
  font-size: 12px;
  color: #292d32;
  writing-mode: vertical-lr;
}

.status {
  text-align: start;
  width: 80px;
}

.activ-status {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 29px;
  writing-mode: vertical-lr;
  color: #008767;
  padding: 4px 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

.inactiv-status {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 29px;
  writing-mode: vertical-lr;
  padding: 4px 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #df0404;
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description__text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #b5b7c0;
}

.description__links {
  display: flex;
  column-gap: 2px;
}

.link-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid $secondColor;
  border-radius: 4px;
  width: 26px;
  height: 24px;
}

.link-button a {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  color: #404b52;
}

.points {
  background-color: $primaryColor;
  border: none;
}

.current-page {
  background-color: #5932ea;
  color: $primaryColor;
}

.current-page a {
  color: $primaryColor;
}

@media screen and (min-width: 1280px) {
  .main-info {
    background-color: #fafbff;
    padding: 41px 95px 258px 71px;
  }

  .main-info__greeting-title {
    margin-bottom: 51px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
  }

  .main-content__header-container {
    display: flex;
    flex-direction: row;
    column-gap: 506px;
  }

  .input-container {
    position: relative;
  }

  .form-input {
    width: 216px;
    height: 38px;
    background-color: #f9fbff;
    border-radius: 10px;
    border: none;
    padding: 7px 8px 7px 40px;
  }

  .input-image {
    position: absolute;
    display: block;
    top: 18px;
    right: 85%;
    transform: translateY(-50%);
  }

  input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #b5b7c0;
    position: absolute;
    top: 10px;
  }

  .main-content {
    background-color: $primaryColor;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
    border-radius: 30px;
    padding: 30px 44px 40px 38px;
    width: 968px;
  }

  .main-content___title {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #000000;
    margin-bottom: 7px;
  }

  .main-content__members {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #16c098;
    margin-bottom: 40px;
  }

  table {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: $primaryColor;
  }

  thead {
    margin-bottom: 34px;
  }

  thead th::after {
    content: "";
    border: 1px solid $secondColor;
    position: absolute;
    width: 968px;
    height: 0px;
    left: 377px;
    top: 294px;
  }

  thead th {
    text-align: start;
    width: 170px;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #b5b7c0;
    writing-mode: horizontal-tb;
  }

  thead tr {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    margin-bottom: 14px;
  }

  .active-box {
    text-align: center;
    color: #008767;
  }

  .company {
    width: 130px;
    writing-mode: horizontal-tb;
  }

  .country {
    width: 140px;
    writing-mode: horizontal-tb;
  }

  .phone {
    width: 156px;
    writing-mode: horizontal-tb;
  }

  .email {
    width: 207px;
    writing-mode: horizontal-tb;
  }

  .country-name {
    width: 140px;
    writing-mode: horizontal-tb;
  }

  .phone-number {
    width: 156px;
    writing-mode: horizontal-tb;
  }

  .company-name {
    width: 130px;
    writing-mode: horizontal-tb;
  }

  .email-company {
    width: 207px;
    writing-mode: horizontal-tb;
  }

  tbody {
    display: flex;
    flex-direction: column;
    width: 968px;
  }

  tbody tr {
    display: flex;
    align-items: center;
    margin-bottom: 44px;
  }

  tbody tr::after {
    content: "";
    position: absolute;
    width: 888px;
    height: 0px;
    left: 417px;
    margin-top: 75px;
    border: 1px solid $secondColor;
  }

  tbody td {
    text-align: start;
    width: 170px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #292d32;
    writing-mode: horizontal-tb;
  }

  .status {
    text-align: center;
    width: 80px;
  }

  .activ-status {
    display: flex;
    justify-content: center;
    width: 80px;
    writing-mode: horizontal-tb;
    background-color: rgba(22, 192, 152, 0.38);
    border: 1px solid #00b087;
    border-radius: 4px;
    padding: 4px 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
  }

  .inactiv-status {
    display: flex;
    justify-content: center;
    width: 80px;
    writing-mode: horizontal-tb;
    background-color: #ffc5c5;
    border: 1px solid #df0404;
    border-radius: 4px;
    padding: 4px 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #df0404;
  }

  .description {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .description__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #b5b7c0;
  }

  .description__links {
    display: flex;
    column-gap: 12px;
  }

  .link-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid $secondColor;
    border-radius: 4px;
    width: 26px;
    height: 24px;
  }

  .link-button a {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    color: #404b52;
  }

  .points {
    background-color: $primaryColor;
    border: none;
  }

  .current-page {
    background-color: #5932ea;
    color: $primaryColor;
  }

  .current-page a {
    color: $primaryColor;
  }
}
